@model ExrizCorpPanel.UI.Models.Components.SiteDetail


<meta charset="utf-8">
<title>@Model.SiteName</title>
<meta name="keywords" content="@Model.SiteTagLine" />
<meta name="author" content="Exriz Yazılım" />
<meta name="description" content="@Model.SiteDesc" />
<!-- Stylesheets -->
<link href="/assets/LoveUs/css/bootstrap.css" rel="stylesheet">
<link href="/assets/LoveUs/css/style.css" rel="stylesheet">
<link href="/assets/LoveUs/css/style-2.css" rel="stylesheet">
<!-- Responsive File -->
<link href="/assets/LoveUs/css/responsive.css" rel="stylesheet">
<!-- Color File -->
<link href="/assets/LoveUs/css/color.css" rel="stylesheet">

<link rel="shortcut icon" href="/assets/LoveUs/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/assets/LoveUs/images/favicon.png" type="image/x-icon">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ead7bf35433140012c37178&product=inline-share-buttons&cms=sop' async='async'></script>
