<div class="row">
    <!-- col-md-12 -->
    <div class="col-md-12">
        <!-- footer-bottom -->
        <div class="footer-bottom">
            <!-- copyright-text -->
            <div class="copyright-text">
                <p>
                    Copyright &copy; 2018. All Rights Reserved. <br> Developed by <a href="http://www.exriz.com"><img src="~/exrizwhite.png" /></a>
                </p>
                <a href="#" class="back-to-top"><i class="fa fa-angle-up backtop pull-right"></i></a>
            </div>
            <!-- /copyright-text -->
        </div>
        <!-- /footer bottom -->
    </div>
    <!-- /col-md-12 -->
</div>