@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ExrizCorpPanel.UI.Areas.Admin.Models.CustomModels.RequestTypes.BlogRequest

@{
    ViewData["Title"] = "AddSliderGallery";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var language = ViewBag.Languages;
    var result = TempData["result"];
    var urls = ViewBag.Urls;
    var categoryList = ViewBag.Categories;
    var ff = 0;
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 1434px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        <h1 class="page-title">
            Exriz Kurumsal Panel

        </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    @*<i class="icon-home"></i>*@
                    <a>Banner İşlemleri</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    @*<i class="icon-eye"></i>*@
                    <a href="@Url.Action("UpdateBlog","BlogManagament")">Blog Düzenle</a>
                </li>
            </ul>
            <div class="page-toolbar">

            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div class="note note-info">


            @{

                if (Convert.ToInt32(result) == 1)
                {
                    <div class="note note-success">
                        <h3>İşlem Durumu</h3>
                        <p>
                            Blog düzenleme işlemi başarılı
                            <a class="btn btn-small red btn-outline" href="#" target="_blank">listelemeye git</a>
                        </p>
                    </div>
                }
                else if (Convert.ToInt32(result) == -1)
                {
                    <div class="note note-danger">
                        <h3>İşlem Durumu</h3>
                        <p>
                            Blog düzenleme işlemi başarısız
                            <a class="btn btn-small red btn-outline" href="#" target="_blank">hatayı bildir</a>
                        </p>
                    </div>
                }
                else
                {

                }
            }
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">Blog Düzenle</span>

                    </div>
                    @*<div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-cloud-upload"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-trash"></i>
                            </a>
                        </div>*@
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form enctype="multipart/form-data" asp-controller="BlogManagament" asp-action="PostUpdateBlog" class="form-horizontal">
                        <div class="form-body">
                            <input asp-for="Id" hidden />

                            <div class="form-group">
                                <label asp-for="Name" class="col-md-3 control-label">Blog İsmi</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Banner adı" />

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="CategoryId"></label>
                                <div class="col-md-4">
                                    <select asp-for="CategoryId" asp-items="@categoryList"></select>

                                </div>
                            </div>


                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button type="submit" class="btn green">Düzenle</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>


        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>


