@model ExrizCorpPanel.UI.Models.Components.SiteDetail

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@Model.SiteName</title>
<meta name="keywords" content="@Model.SiteTagLine" />
<meta name="author" content="Exriz Yazılım" />
<meta name="description" content="@Model.SiteDesc" />
<!-- =========================================
Mobile Configurations
========================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Fonts -->
@*<link href='../../../../fonts.googleapis.com/css827c.css?family=Lato:300,400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>*@
<link rel="stylesheet" href="~/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/css/icostyle.css" />
<!-- //Fonts -->
<!-- Normalize CSS -->
<link rel="stylesheet" href="~/css/normalize.css" />
<!-- Owl Carousel CSS -->
<link href="~/css/owl.carousel.css" rel="stylesheet" media="screen">
<!-- REVOLUTION BANNER CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
<!-- =========================================
CSS
========================================== -->
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/prettyPhoto.css" />
<link rel="stylesheet" href="~/css/offcanvas.css" />
<link rel="stylesheet" href="~/css/style.css" />
<link href="css/responsive.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .mySlides {
        display: none;
    }
</style>
<!-- =========================================
Head Libs
========================================== -->
<script src="~/js/modernizr-2.6.2.min.js"></script>