@model ExrizCorpPanel.UI.Models.CustomModels.AboutModel
@{
    Layout = ViewBag.layout;


}
<div class="page-title">
    <h1>About Us</h1>
    <!-- BREADCRUMBS -->
    <ul class="breadcrumb">
        <li><a href="index-2.html">Home</a><span class="divider"></span></li>
        <li class="active">About Us</li>
    </ul>
</div>
<!-- //Page title -->

<div class="about-us-wrapper">
    <div class="row">
        <div class="col-md-12">
            <article>
                <div class="page-content">
                    <h2>Decor at a glance</h2>
                    <p>
                       @Model.AboutPage.Content
                    </p>
                   
                </div>
            </article>
        </div>
        <div class="col-md-12">
            <img src=" @Model.AboutPage.ImageUrl" />
        </div>
    </div>

</div>